@{
    ViewBag.Title = "FoDF";
}


<div class="jumbotron">

    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>

</div>

<div class="containet">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-2 portfolio-item">
        </div>
        <div class="col-md-8 portfolio-item">
            <p><a href="~/Home/Contact">contact</a> </p>
            <img src="http://watermarked.cutcaster.com/cutcaster-photo-100511130-Businessman-sleeping-at-desk-with-feet-up.jpg" width='100%' alt="" />
            <p>Some very very very very looooooooong comment !!!!!!!!!!!!!!!!</p>
        </div>
        <div class="col-md-2 portfolio-item">
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 portfolio-item">
        </div>
        <div class="col-md-8 portfolio-item">
            <p><a href="~/Home/Contact">contact</a> </p>
            <img src="../../Images/ErinFoDF.jpg" width='100%' alt="" />
            <p>Some very very very very looooooooong comment !!!!!!!!!!!!!!!!</p>
        </div>
        <div class="col-md-2 portfolio-item">
        </div>
    </div>
</div>
