@{
    ViewBag.Title = "FoDF";
}


<div class="jumbotron">

    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
    <p>
        To learn more about ASP.NET MVC visit
        <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
If you have any questions about ASP.NET MVC visit
    </p>
    <a class="btn btn-large btn-success" href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.

</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <p><a href="~/Views/Home/Contact">contact</a> </p>
        <p>Some very very very very looooooooong comment !!!!!!!!!!!!!!!!</p>
    </div>
    <div class="col-md-4">
        <p><a href="~/Views/Home/Contact">contact</a> </p>
        <p>Some very very very very looooooooong comment !!!!!!!!!!!!!!!!</p>
    </div>
    <div class="col-md-4">
        <p><a href="~/Views/Home/Contact">contact</a> </p>
        <p>Some very very very very looooooooong comment !!!!!!!!!!!!!!!!</p>
    </div>
     <div class="col-md-4">
        <p><a href="~/Views/Home/Contact">contact</a> </p>
        <p>Some very very very very looooooooong comment !!!!!!!!!!!!!!!!</p>
    </div>
</div>
